<div class="container" style="background-color: lightgray">
  <h1 style="background-color:rgb(14, 49, 78); color: blanchedalmond">Update feedback</h1>
  <h2>Information details</h2>
  <div class="row" style="margin-top: 30px;">
    
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Reply about feedback</label>
        <input [(ngModel)]="selectedFeedback.Response" type="text" row="3" class="form-control">
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <button (click)="onUpdate()" class="btn btn-success">Update</button>
      <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
    </div>
  </div>
</div>
