<div class="container" style="background-color: lightgray">
    <h1 style="background-color:rgb(14, 49, 78); color: blanchedalmond">Update Dealer details</h1>
    <h2>Information details</h2>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Name</label>
          <input [(ngModel)]="selectedDealer.Dname" type="text" class="form-control" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Address</label>
          <input [(ngModel)]="selectedDealer.Daddress" type="text" class="form-control">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Dphone</label>
          <input [(ngModel)]="selectedDealer.Dphone" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Agency_name</label>
          <input [(ngModel)]="selectedDealer.Agency_name" type="text" class="form-control">
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Username</label>
          <input [(ngModel)]="selectedDealer.Dusername" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="selectedDealer.Dpassword" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <label for="">Age</label>
            <input [(ngModel)]="selectedDealer.Age" type="text" class="form-control">
          </div>
        </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Gender</label>
          <input [(ngModel)]="selectedDealer.Gender" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <label for="">Email-Id</label>
            <input [(ngModel)]="selectedDealer.Demail" type="text" class="form-control">
          </div>
        </div>
      <div class="col-md-6">
          <div class="form-group">
            <label for="">Thumbnail</label>
            <input [(ngModel)]="selectedDealer.Cthumbnail" type="file" class="form-control">
          </div>
        </div>
    </div>
  
    
    <div class="row">
      <div class="col-md-12">
        <button (click)="onUpdate()" class="btn btn-success">Update</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
      </div>
    </div>
  </div>
  