<div class="col-md-12" style="background-color:cadetblue">
  <h1>Add Employee</h1>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-6" >
      <div class="form-group">
        <label for="">Name of Employee</label>
        <input [(ngModel)]="Sname" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6" >
      <div class="form-group">
        <label for="">Address</label>
        <input [(ngModel)]="Saddress" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Email-Id</label>
        <input [(ngModel)]="Semail" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Dept Id</label>
        <input [(ngModel)]="DeptId" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Job role</label>
        <input [(ngModel)]="Srole" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Salary</label>
        <input [(ngModel)]="Ssalary" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Username</label>
        <input [(ngModel)]="Susername" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="Spassword" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Gender</label>
        <input [(ngModel)]="Sgender" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Age</label>
        <input [(ngModel)]="Sage" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Phone</label>
        <input [(ngModel)]="Sphone" type="text" class="form-control">
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <button (click)="onAdd()" class="btn btn-success">Add</button>
      <button (click)="onCancel()" class="btn btn-danger pull-right" style="margin-left: 10px">Cancel</button>
    </div>
  </div>
</div>