<div class="col-md-12">
    <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
        <div class="col-md-9" style="color: white"><h1>List of Dealers</h1></div>
        <div class="col-md-3" style="color: white; margin-top: 16px"><a routerLink="/add-dealer">Add Dealer information</a></div>
    </div>

  <table class="table table-hover backimage" style="margin-top: 30px;background-image: url('assets/images/cbackground.jpeg');">
    <thead>
      <tr style="background-color:lightgray">
        <th></th>
        <th>Dealer Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Name of agency</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dealer of Dealers">
        <td><img src="assets/images/{{dealer.Dthumbnail}}" alt="image" class="img-circle" height="70px" width="70px"></td>
        <td>{{dealer.Dname}}</td>
        <td>{{dealer.Daddress}}</td>
        <td>{{dealer.Dphone}}</td>
        <td>{{dealer.Agency_name}}</td>
        <td>
          <button (click)="onDetails(dealer)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(dealer)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <button (click)="onUpdate(dealer)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
