<div class="col-md-12 backimage" style="background-image: url('assets/images/back2.png')">
	<h1 style="text-align:center; color:blanchedalmond;">Login</h1>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form" style="color:blanchedalmond; margin-top: 100px">
      <div class="form-group">
        <label for="">Username</label>
        <input [(ngModel)]="Susername" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="Spassword" type="password" class="form-control">
      </div>
      <div class="form-group">
        <button (click)="onLogin()" class="btn btn-success">Login</button>
        <button (click)="onCancel()" class="btn btn-danger pull-right">Cancel</button>
      </div>
    </div>
  </div>

</div> 



<!-- <div class="container" style="background-image: url('assets/images/back2.png'); background-size: 100% 100%;">
	<div class="container" style="margin-left: 300px; margin-top: 100px">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div> -->