<div class="container" style="background-color:lightgrey">
    <h1>{{selectedDealer.Dname}}</h1>
  
    
    <div class="col-md-6">
      <div class="form-group">
        <div><img src="assets/images/{{selectedDealer.Dthumbnail}}" alt="image" class="img-rounded" height="250px" width="250px"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div style="margin-top: 30px;">
             <strong>Dealer ID  : </strong> {{selectedDealer.Id}}</div>
        <div><strong>Address  : </strong> {{selectedDealer.Daddress}}</div>
        <div><strong>Phone  : </strong> {{selectedDealer.Dphone}}</div>
        <div><strong>Name of Agency    : </strong> {{selectedDealer.Agency_name}}</div>
        <div><strong>Username : </strong> {{selectedDealer.Dusername}}</div>
        <div><strong>Password : </strong> {{selectedDealer.Dpassword}}</div>
        <div><strong>Age : </strong> {{selectedDealer.Age}}</div>
        <div><strong>Gender   : </strong> {{selectedDealer.Gender}}</div>
        <div><strong>Email-Id : </strong> {{selectedDealer.Demail}}</div>

        <div style="margin-left: 400px"><button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Go to previous</button></div>
         
      </div>
    </div>
  </div>