<div class="col-md-12" >
  <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
    <div class="col-md-3" style="color: white"><h1>Products</h1></div>
    <!-- <table>
      <tr class="col-md-6" style="margin-top: 16px">
          <td class="col-md-9"><input (click)="onSearch(product)" type="text" placeholder="Search.." size="60"></td>
          <td class="col-md-3"><button type="button">
              <span class="glyphicon glyphicon-search"></span>Search
            </button></td>
        </tr>
    </table> -->
    <div class="col-md-6" style="margin-top: 15px">
      <!-- <input [(ngModel)]="Pcategory" type="text" class="form-control col-xs-10"> -->
      <div class="col-xs-10"><input [(ngModel)]="text" type="text" placeholder="Search.." size="60"></div>
      <div class="col-xs-2"><button class="btn-info" type="button" (click)="onSearch(product)">
          <span class="glyphicon glyphicon-search"></span>Search 
        </button></div>
    </div>
      <div class="col-md-3" style="margin-top: 15px">
      <button class="btn-sm btn-success" routerLink="/login" style="width: 150px; "><i class="glyphicon glyphicon-user" style="width: 50px"></i>Logout</button>
      </div>
  </div>
  <div>
    <!-- <div class="col-md-10" style="background-color:rgb(14, 49, 78)">
      <button (click)="onSortList(product)"><i class="glyphicon glyphicon-list-alt"></i>Sort by list</button>
      <button (click)="onSortPrice(product)"><i class="glyphicon glyphicon-usd"></i>Sort by price</button>
      <button (click)="onSortCategory(product)"><i class="glyphicon glyphicon-film"></i>Sort by category</button>
    </div>  
    <div class="col-md-2" style="background-color:rgb(14, 49, 78)"><a routerLink="/add-product">Add Product</a></div></div> -->
 
  <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
    <div class="col-xs-2" style="text-align:center">
      <button class="btn-block btn-success" (click)="onSortList(product)"><i class="glyphicon glyphicon-list-alt" style="width: 30px"></i>Sort by list</button>
      <button class="btn-block btn-success" (click)="onSortPrice(product)"><i class="glyphicon glyphicon-usd" style="width: 30px"></i>Sort by price</button>
      <button class="btn-block btn-success" (click)="onSortByButterCategory(product)"><i class="glyphicon glyphicon-book" style="width: 30px"></i>Butter</button>
      <button class="btn-block btn-success" (click)="onSortByPaneerCategory(product)"><i class="	glyphicon glyphicon-th-large" style="width: 30px"></i>Paneer</button>
      <button class="btn-block btn-success" (click)="onSortByMilkCategory(product)"><i class="glyphicon glyphicon-tint" style="width: 30px"></i>Milk</button>
      <button class="btn-block btn-success" (click)="onSortByIcecreamCategory(product)"><i class="glyphicon glyphicon-ice-lolly-tasted" style="width: 30px"></i>Ice-Cream</button>
      <button class="btn-block btn-success" (click)="onSortByGheeCategory(product)"><i class="glyphicon glyphicon-oil" style="width: 30px"></i>Ghee</button>
      
      <select class="btn-block dropbtn btn-success" style="text-align: center" (click)="onSortCategory(product)">
        
          <!-- <select id="country" name="country"> -->
            <option (click)="onSortCategory(product)" value="categories">Categories</option>
            <option (click)="onSortByButterCategory(product)" value="butter">Butter</option>
            <option (click)="onSortByIcecreamCategory(product)" value="icecream">Ice-Cream</option>
            <option (click)="onSortByMilkCategory(product)" value="milk">Milk</option>
            <option (click)="onSortByPaneerCategory(product)" value="paneer">Paneer</option>
            <option (click)="onSortByGheeCategory(product)" value="ghee">Ghee</option>
          <!-- </select> -->
      </select>
      <!-- <a routerLink="/add-product">Add Product</a> -->
      <button class="btn-block btn-success" routerLink="/add-product" ><i class="glyphicon glyphicon-plus" style="width: 30px"></i>Add Product</button>
    </div>
    <div class="col-xs-10" style="background-image: url('assets/images/butter.jpg'); background-size: 100% 100% ;">
      <table class="table table-hover">
        <thead>
          <tr style="background-color:lightgray">
            <th></th>
            <th>Name</th>
            <th>Price (₹)</th>
            <th>Category</th>
            <th>Quantity</th>
            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of Products">
            <td><img src="assets/images/{{product.Pthumbnail}}" alt="image" class="img-circle" height="70px" width="70px"></td>
            <td><h4><b>{{product.Pname}}</b></h4></td>
            <td>{{product.Prate}}</td>
            <td>{{product.Pcategory}}</td>
            <td>{{product.PQuantity}}</td>
            
    
            <td>
              <button (click)="onDetails(product)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
              <button (click)="onDelete(product)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
              <button (click)="onUpdate(product)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
              <button (click)="onUpdate(product)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-shopping-cart"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
    
</div>