<div class="col-md-12" style="background-color:lightgrey">
  <h1>{{selectedStaff.Sname}}</h1>

  
  <div class="col-md-6">
    <div class="form-group">
      <div><img src="assets/images/{{selectedStaff.Sthumbnail}}" alt="image" class="img-rounded" height="250px" width="250px"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div style="margin-top: 30px;">
           <div class="col-md-3"><strong>Staff ID   </strong></div> {{selectedStaff.Id}}</div>
      <div><div class="col-md-3"><strong>Address   </strong></div> {{selectedStaff.Saddress}}</div>
      <div><div class="col-md-3"><strong>Email-Id  </strong></div> {{selectedStaff.Semail}}</div>
      <div><div class="col-md-3"><strong>Department-Id </strong></div> {{selectedStaff.DeptId}}</div>
      <div><div class="col-md-3"><strong>Job Role  </strong></div> {{selectedStaff.Srole}}</div>
      <div><div class="col-md-3"><strong>Salary  </strong></div> {{selectedStaff.Ssalary}}</div>
      <div><div class="col-md-3"><strong>Username  </strong></div> {{selectedStaff.Susername}}</div>
      <div><div class="col-md-3"><strong>Password  </strong></div> {{selectedStaff.Spassword}}</div>
      <div><div class="col-md-3"><strong>Gender  </strong></div> {{selectedStaff.Sgender}}</div>
      <div><div class="col-md-3"><strong>Age  </strong></div> {{selectedStaff.Sage}}</div>
      <div><div class="col-md-3"><strong>Phone  </strong></div> {{selectedStaff.Sphone}}</div>

      <div style="margin-left: 400px"><button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Go to previous</button></div>
       
    </div>
  </div>
</div>