<div class="container" style="background-color: lightgray">
    <h1 style="background-color:rgb(14, 49, 78); color: blanchedalmond">Update Customer details</h1>
    <h2>Information details</h2>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Name</label>
          <input [(ngModel)]="selectedCustomer.Cname" type="text" class="form-control" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Address</label>
          <input [(ngModel)]="selectedCustomer.Carea" type="text" class="form-control">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Pincode</label>
          <input [(ngModel)]="selectedCustomer.Pin" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Phone</label>
          <input [(ngModel)]="selectedCustomer.Phone" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Email-Id</label>
          <input [(ngModel)]="selectedCustomer.Cemail" type="text" class="form-control">
          <!-- Attachment <input type="file" multiple> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Username</label>
          <input [(ngModel)]="selectedCustomer.Cusername" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="selectedCustomer.Cpassword" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Gender</label>
          <input [(ngModel)]="selectedCustomer.Cgender" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <label for="">Thumbnail</label>
            <input [(ngModel)]="selectedCustomer.Cthumbnail" type="file" class="form-control">
          </div>
        </div>
    </div>
  
    
    <div class="row">
      <div class="col-md-12">
        <button (click)="onUpdate()" class="btn btn-success">Update</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
      </div>
    </div>
  </div>
  