
<div class="col-md-12">
  <h1 style="background-color:rgb(14, 49, 78);color:blanchedalmond">{{selectedProduct.Pname}}</h1>
  
  <div class="col-md-3">
    <div class="form-group">
      <div><img src="assets/images/{{selectedProduct.Pthumbnail}}" alt="image" class="img-rounded" height="250px" width="250px"></div>
      <div style="margin-top: 30px;"><strong>Price: </strong> {{selectedProduct.Prate}}</div>
      <div><strong>Category: </strong> {{selectedProduct.Pcategory}}</div>
      <div><strong>Quantity: </strong> {{selectedProduct.PQuantity}}</div>
    </div>
  </div>
  <div class="col-md-9" style="background-color:rgb(14, 49, 78)">
    <div class="form-group">
        <table class="table">
            <thead>
              <tr style=" color: white">
                <th class="col-xs-2"></th>
                <th class="col-xs-2">Name</th>
                <th class="col-xs-2">Price (₹)</th>
                <!-- <th>Category</th> -->
                <th class="col-xs-2">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr style=" color: white" *ngFor="let product of Products">
                  
                <td><img src="assets/images/{{product.Pthumbnail}}" alt="image" class="img-circle" height="70px" width="70px"></td>
                <td><b>{{product.Pname}}</b></td>
                <td>{{product.Prate}}</td>
                <!-- <td>{{product.Pcategory}}</td> -->
                <td>{{product.PQuantity}}</td>
                
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>