<div class="col-md-12">
    <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
        <div class="col-md-9" style="color: white"><h1>List of Customers</h1></div>
        <div class="col-md-3" style="color: white; margin-top: 16px"><a routerLink="/add-customer">Add Customer</a></div>
    </div>
  
    <table class="table table-hover backimage" style="margin-top: 30px;background-image: url('assets/images/cbackground.jpeg');">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of Customer">
          <td><img src="assets/images/{{customer.Cthumbnail}}" alt="image" class="img-circle" height="70px" width="70px"></td>
          <td>{{customer.Cname}}</td>
          <td>{{customer.Cemail}}</td>
          <td>{{customer.Carea}}</td>
          <td>{{customer.Phone}}</td>
          <td>{{customer.Cgender}}</td>
  
          <td>
            <button (click)="onDetails(customer)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
            <button (click)="onDelete(customer)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
            <button (click)="onUpdate(customer)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>