<div class="col-md-12">
  <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
      <div class="col-md-9" style="color: white; text-align:center"><h1>Milk Rate Chart</h1></div>
      <div class="col-md-3" style="color: white; text-align:center"><a routerLink="/add-milk-rate">Add Milk rate</a></div>
  </div>

  <table class="table backimage table-hover" style="margin-top: 30px; background-image: url('assets/images/milk.jpg');">
    <thead>
      <tr style="background-color:lightgray; text-align:center">
        <th style="text-align:center">Sr.No</th>
        <th style="text-align:center">Fat </th>
        <th style="text-align:center">Buffalo (₹)</th>
        <th style="text-align:center">Cow (₹)</th>
        <th style="text-align:center">Last updated on</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align:center" *ngFor="let milkrate of Milk_rate">
        <td>{{milkrate.Sr_No}}</td>
        <td>{{milkrate.Fat}}</td>
        <td>{{milkrate.Buffalo}}</td>
        <td>{{milkrate.Cow}}</td>
        <td>{{milkrate.Updated_on}}</td>

        <td>        
          <button (click)="onDeleteMilkRate(milkrate)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <!-- <button (click)="onUpdate(milkrate)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>