<div class="col-md-12" style="background-color:lightgrey">
  <h1>{{selectedFeedback.Name}}</h1>

  <div>
    <div class="form-group">
      <div style="margin-top: 30px;">
           <div class="col-md-6"><strong>Address   </strong></div> {{selectedFeedback.Address}}</div>
      <div><div class="col-md-6"><strong>Village   </strong></div> {{selectedFeedback.Taluka}}</div>
      <div><div class="col-md-6"><strong>District  </strong></div> {{selectedFeedback.District}}</div>
      <div><div class="col-md-6"><strong>Phone </strong></div> {{selectedFeedback.Mobile}}</div>
      <div><div class="col-md-6"><strong>Email-Id  </strong></div> {{selectedFeedback.Email}}</div>
      <div><div class="col-md-6"><strong>Date  </strong></div> {{selectedFeedback.date}}</div>
      <div><div class="col-md-6"><strong>Feedback  </strong></div> {{selectedFeedback.fb}}</div>
      <div><div class="col-md-6"><strong>Reply  </strong></div> {{selectedFeedback.Response}}</div>
      
      <div style="margin-left: 400px"><button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Go to previous</button></div>
       
    </div>
  </div>
</div>