<div class="col-md-12">
    <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
        <div class="col-md-12" style="color: white"><h1>Add Products</h1></div>
    </div>
  <table class="col-md-12" >
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Product name</label>
          <input [(ngModel)]="Pname" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Rate</label>
          <input [(ngModel)]="Prate" type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Category</label>
          <input [(ngModel)]="Pcategory" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Quantity</label>
          <input [(ngModel)]="PQuantity" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label for="">Select Thumbnail</label>
            <input accept="image/*" (change)="onChange($event)" type="file" class="form-control">
        </div>
      </div>
      <div class="col-md-6" *ngIf="imageUrl != null">
          <label for="">Thumbnail</label>
          <img [src]="imageUrl" class="thumbnail" alt="" style="max-height: 100px;">
        </div>
    </div>

  
    <div class="row">
      <div class="col-md-12">
        <button (click)="onAdd()" class="btn btn-success">Add</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
      </div>
    </div>
  </table>
</div>