<table class="col-md-12" style="background-color:lightgrey">
  <div class="container" >
    <h2 align="center"><b>About Us</b></h2>
    <tr>
      <td>
        <ul>
            <li>It all began when milk become a symbol of protest</li>
            <li>Founded in 1946 to stop the exploitation by middlemen</li>
            <li>Inspired by the freedom movement</li>
        </ul>
        <p>
            "The seed of this unusual saga were sown more than 73 years, a small town in the state of Gujarat in western India.
                  The exploitative trade practices followed by the local trade cartel triggered off the cooperative movement. 
                  Angered by unfair and manipulative practices followed by the trade, the farmers of the district approached the great
                Indian patriot Sardar Vallabhbhai Patel for a solution. He advised them to get rid of middlemen and form their own co-operative, 
                which would have procurement, processing and marketing under their control."
            <br><br>
                In 1946, the farmers of this area went on a milk strike refusing to be cowed down by the cartel. Under the 
                inspiration of Sardar Patel, and the guidance of leaders like Morarji Desai and Tribhuvandas Patel, they formed 
                their own cooperative in 1946. 
            <br><br>
            This co-operative, the Kaira District Co-operative Milk Producers Union Ltd. began with just two village dairy
              co-operative societies and 247 litres of milk and is today better known as Amul Dairy. Amul grew from strength
              to strength thanks to the inspired leadership of Tribhuvandas Patel, the founder Chairman and the committed 
              professionalism of Dr Verghese Kurien,who was entrusted the task of running the dairy from 1950.
            <br><br>
          
        </p>
      </td>
      <td><img src="assets/images/production.png"  alt="image" height="500px" width="250px"></td>
      <!-- <td width="200px" class="third">
        <table>
            <center>
            <tr><marquee behavior="" direction="left"><div><h4>Photo Gallery</h4></div></marquee></tr></br>
            <tr><img src="assets/images/minidairy.jpg" alt="image" height="100px" width="180px"></tr></br>
            <tr><img src="assets/images/vmaxresdefault.jpg" alt="image" height="100px" width="180px"></tr></br>
            <tr><img src="assets/images/Melkkarussell.jpg" alt="image" height="100px" width="180px"></tr>
            </center>
        </table>
      </td>    -->
    </tr>                     
  </div>
</table>
