<div class="col-md-12">
    <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
        <div class="col-md-9" style="color: white"><h1>List of Employee</h1></div>
        <div class="col-md-3" style="color: white; margin-top: 16px"><a routerLink="/add-staff">Add Employee information</a></div>
    </div>

  <table class="table table-hover backimage" style="margin-top: 30px;background-image: url('assets/images/cbackground.jpeg');">
    <thead>
      <tr>
        <th></th>
        <th>Name </th>
        <!-- <th>Address</th> -->
        <th>Email</th>
        <th>Dept Id</th>
        <!-- <th>Job Role</th>
        <th>Salary (₹)</th>
        <th>Username</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Age</th> -->
        <th>Phone No</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of Staff">
        <td><img src="assets/images/{{staff.Sthumbnail}}" alt="image" class="img-circle" height="70px" width="70px"></td>
        <td>{{staff.Sname}}</td>
        <!-- <td>{{staff.Saddress}}</td> -->
        <td>{{staff.Semail}}</td>
        <td>{{staff.DeptId}}</td>
        <!-- <td>{{staff.Srole}}</td>
        <td>{{staff.Ssalary}}</td>
        <td>{{staff.Susername}}</td>
        <td>{{staff.Spassword}}</td>
        <td>{{staff.Sgender}}</td>
        <td>{{staff.Sage}}</td> -->
        <td>{{staff.Sphone}}</td>

        <td>
          <button (click)="onDetails(staff)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(staff)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <button (click)="onUpdate(staff)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
