<div class="container">
    <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
        <div class="col-md-12" style="color: white"><h1>Add Customer</h1></div>
    </div>
  
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Customer name</label>
          <input [(ngModel)]="Cname" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Address</label>
          <input [(ngModel)]="Carea" type="text" class="form-control">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Pincode</label>
          <input [(ngModel)]="Pin" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Phone No</label>
          <input [(ngModel)]="Phone" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Email-Id</label>
          <input [(ngModel)]="Cemail" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Username</label>
          <input [(ngModel)]="Cusername" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="Cpassword" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Gender</label>
          <input [(ngModel)]="Cgender" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="">Select Thumbnail</label>
              <input accept="assets/images/*" (change)="onChange($event)" type="file" class="form-control">
          </div>
        </div>
        <div class="col-md-6" *ngIf="imageUrl != null">
          <label for="">Thumbnail</label>
          <img [src]="imageUrl" class="thumbnail" alt="" style="max-height: 100px;">
        </div>
    </div>
  
    
    <div class="row">
      <div class="col-md-12">
        <button (click)="onAdd()" class="btn btn-success">Add</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
      </div>
    </div>
  </div>
