<div class="col-md-12">
  <div class="col-md-12" style="background-color:rgb(14, 49, 78)">
      <div class="col-md-9" style="color: white"><h1>Feedback List</h1></div>
  </div>

<table class="table table-hover backimage" style="margin-top: 30px;background-image: url('assets/images/cbackground.jpeg');">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Village</th>
      <th>District</th>
      <th>Phone</th>
      <th>Email-Id</th>
      <th>Date</th>
      <th>Feedback</th>
      <th>Reply</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feedback of Feedback">
      <td>{{feedback.Name}}</td>
      <td>{{feedback.Address}}</td>
      <td>{{feedback.Taluka}}</td>
      <td>{{feedback.District}}</td>
      <td>{{feedback.Mobile}}</td>
      <td>{{feedback.Email}}</td>
      <td>{{feedback.date}}</td>
      <td>{{feedback.fb}}</td>
      <td>{{feedback.Response}}</td>

      <td>
        <button (click)="onDetails(feedback)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
        <button (click)="onDelete(feedback)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
        <button (click)="onUpdate(feedback)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>
